

@media screen and (min-width: 768px) {

    .bt{
        
        border: 1px solid blue;
    }

    .card-detail{
        width:60%;
        max-width: 70%;
        height: auto;
        display: flex;
        background-color: rgb(230, 169, 57);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 2px 5px rgb(109, 90, 55);
    }

    .card-img{
        width: 70%;
        max-width: 70%;
        height: auto;
    }

    img{
        width: 100%;
        height: auto;
    }

    .detail-name-price{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-top: 3%;
        background-color: burlywood;
    }

    .detail-description{
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        text-align: center;
        padding: 1%;
    }

    .detail-description p{
        margin-top: 5%;
        color: white;
        font-size: 20px;
    }

    .icon-container{
        display: flex;
        width: 100%;
        justify-content:flex-end;
        padding-right: 5%;
    }

    .icon-detail{
        text-decoration: none;
        width: 250%;
        color: chocolate;
        height: auto;
    }

    .btn-go-to-cart{
        width: 100%;
        background-color: #cb5d1e !important;
        color: white;
        margin-top: 2%;
    }
    .btn-go-to-cart:hover{
        color: white;
    }
}



@media screen and (max-width: 767px) {
    .card-detail{
        width: 60%;
        height: auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        background-color: rgb(230, 169, 57);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 2px 2px 5px rgb(109, 90, 55);
    }

    img{
        width: 100%;
        height: auto;
    }

    .detail-name-price{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: burlywood;
        padding-top: 3%;
    }
    
    .icon-container{
        display: flex;
        width: 100%;
        justify-content:center;
        margin-top: 5%;
        padding-right: 5%;
    }
    
    .icon-detail{
        text-decoration: none;
        width: 250%;
        color: chocolate;
        height: auto;
    }

    
    .detail-description{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        padding: 1%;
    }

    .detail-description p{
        margin-top: 5%;
        color: white;
        font-size: 20px;
    }

    .btn-go-to-cart{
        width: 100%;
        background-color: gray !important;
        color: white;
        margin-top: 2%;
    }
    .btn-go-to-cart:hover{
        color: white;
    }


}




