.detail-container{
    width: 60%;
    background-color: rgb(230, 169, 57);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 2px 2px 5px rgb(109, 90, 55);
    display: flex;
    
}

img{
    width: 36vh;
}

.title-img{
    font-size: 20px;
    padding: 2%;
}

.description{
    text-align: center;
    margin: 1%;
    
}

.img-card{
    text-align: center;
    background-color: rgb(156, 133, 90);

}

.btn-go{
    width: 100%;
    margin-top: 2%;
}

.text-description{
    color: white;
    font-size: 20px;
}

.stock-style{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 5%;
}

.select-container{
    margin-top: 5%;
}

.select2{
    margin-left: 5%;
}


@media screen and (max-width: 767px) {
    .detail-container{
        width: 70%;
        height: auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        border-top-right-radius:0;
        border-bottom-right-radius: 0;
        background-color: rgb(230, 169, 57);
        box-shadow: 2px 2px 5px rgb(109, 90, 55);
    }

    img{
        width: 100%;
    }

    .title-img{
        font-size: 20px;
        padding: 2%;
    }

    .select-container{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    select{
        margin-top: 5%; 
    }

    .select2{
        margin-left: 0;
    }
}