
.counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(245, 157, 42);
}

.btn-anchor{
        width: 100%;
        height: auto;
}
    
.btn-warning:hover{
        color: black !important;
}



@media (max-width: 767px) {
    
    .counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(245, 157, 42);
    }
    
    .btn-anchor{
        width: 100%;
        height: auto;
    }


}

