

@media screen and (min-width: 768px) {
    .card-product{
        width: 20%;
        height: auto;
        margin: 2%;
        max-width: 20%;
        box-shadow: 2px 2px 5px rgb(109, 90, 55);
    }
    
    .card-product img{
        width: 100%;
        height: auto;
    }

    .btn-anchor{
        width: 100%;
        height: auto;
        background-color: #cb5d1e;
        color: white;
    }

    .btn:hover{
        color: #ffd151;
    }
    
    .counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(245, 157, 42);
    }
    
    .title-card{
        background-color: burlywood;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3%;
    }
    
}

@media (max-width: 767px) {
    .card-product{
       margin-top: 10%;
       width: 70%;
       box-shadow: 2px 2px 5px rgb(109, 90, 55);
    }
    
    .card-product img{
        width: 100%;
        height: auto;
    }

    .title-card{
        background-color: burlywood;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3%;
    }

    .btn-anchor{
        width: 100%;
        height: auto;
        background-color: #cb5d1e;
        color:white;
    }

    .btn:hover{
        color: #ffd151;
    }
}


  
  