.navbar {
    background-color: #cb5d1e;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 20;
    box-shadow: 2px 2px 5px rgb(247, 166, 18);
  }

  .active-link a{
    color:green;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }

  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    align-items: center;
  }
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    cursor: pointer;
    color: #ffd151;
  }

  .nav-item a{
    text-decoration: none;
    color: #ffd151;
  }

  .nav-item a:hover{
    color: #ffd151;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #933916;
  }
  
  .nav-icon {
    display: none;
  }

  .cart-bagde{
    display: flex;
    align-items: center;
  }

  .bt{
    border: 1px solid blue;
  }

  
 
  
  @media screen and (max-width: 767px) {

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
      height: auto;
    }
  
    .nav-menu.active {
      background: #1f5156;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    
    }
    .nav-item .active {
      color: #ffdd40;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #ffffff;
    }

    div .logo{
      width: 50%;
    }

  }

  .logo{
    width: 28%;
    margin-top: -2%;
    cursor: pointer;
  }

  .cart-bagde span{
    background-color: rgba(33, 30, 243, 0.829);
  }

  

  